{{/*模板中去掉 Go 无关的部分 只是为了演示项目*/}}

                        <div class="gallery-cell">
                            <a href="/public/img/shop/item_lg_1.jpg" class="lightbox-img">
                                <img src="{{.ProductImage}}" alt=""/>
                            </a>
                        </div>

                <div class="col-md-6 product-single">
                    <h1 class="product-single__title uppercase">测试，由html控制器生成 {{.ProductName}}</h1>

                        </div>

                        <div class="size-quantity clearfix">

                            <div class="quantity">
                                <label>Quantity:</label>
                            {{.ProductNum}}
                            </div>
                        </div>

                                    <span ><a href="/product/order?productID={{.ID}}">立即抢购</a> </span>

